WordPress/wp-content/index.php
WordPress/wp-content/mu-plugins/
WordPress/wp-content/plugins/
WordPress/wp-content/themes/index.php
WordPress/wp-content/themes/twentytwentyfour/
WordPress/wp-content/themes/twentytwentythree/
WordPress/wp-content/uploads/
ts-wordpress-docker/